body {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #212121;
  background-color: #FFFDE7;
}

.container {
  margin-bottom: 50px;
}

.jumbotron {
  background-color: #84FFFF;
  width: 100%;
  margin-top: 10px;
}

.Jumbotron h1 {
  font-family: 'Amatic SC';
  color: #000;
  font-size: 100px;
  text-align: center;
  position: relative;
}

.jumbotron h4 {
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-size: 25px;
  text-align: center;
}

.filter {
  margin-bottom: 30px;
}

thead th {
  font-size: 18px;
  padding-bottom: 10px;
}

.user-meal {
  width: 100%;
}

.user-calories {
  width: 70px;
  text-align: center;
}

.log-edit {
  margin-bottom: 40px;
}

.select-menu {
  margin-bottom: 40px;
}

.table-cap {
  margin-bottom: 10px;
  color: black;
}

input.user-calories {
  margin-left: 15px;
}


.glyphicon {
  font-size: 22px;
  padding-right: 10px;
}

.glyphicon-heart {
  color: #DD2C00;
}

.glyphicon-leaf {
  color: #00E676;
}
